.chat-side
  .chat-side__user
    .chat-side__user__content
      .chat-side__user__name
        =@user
      =link_to "#", class: 'chat-side__user__new-group' do
        %i.fa.fa-pencil-square-o
      =link_to edit_user_path(current_user), class: 'chat-side__user__edit-user' do
        %i.fa.fa-cog

.groups
  .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
